@{
    Layout = null;
} 
<body>
<div>
    <div class="title">
        <span class="title_icon">
            <img src="~/Content/images/bullet3.gif" alt=""
                 title="" />
        </span>测试页面
    </div>
    <div class="about">
        <p>
            <img src="~/Content/images/about.gif" alt="" title="" class="right" />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud.<br />
        </p>
    </div>

    <div class="right_box">

        <div class="title">
            <span class="title_icon">
                <img src="~/images/bullet4.gif" alt="" title="" />
            </span>Promotions
        </div>
        <div class="new_prod_box">
            <a href="details.html">product name</a>
            <div class="new_prod_bg">
                <span class="new_icon">
                    <img src="~/images/promo_icon.gif" alt="" title="" />
                </span>
                <a href="details.html">
                    <img src="~/images/thumb1.gif" alt="" title="" class="thumb" border="0" />
                </a>
            </div>
        </div>

        <div class="new_prod_box">
            <a href="details.html">product name</a>
            <div class="new_prod_bg">
                <span class="new_icon">
                    <img src="~/images/promo_icon.gif" alt="" title="" />
                </span>
                <a href="details.html">
                    <img src="~/images/thumb2.gif" alt="" title="" class="thumb" border="0" />
                </a>
            </div>
        </div>

        <div class="new_prod_box">
            <a href="details.html">product name</a>
            <div class="new_prod_bg">
                <span class="new_icon">
                    <img src="~/images/promo_icon.gif" alt="" title="" />
                </span>
                <a href="details.html">
                    <img src="~/images/thumb3.gif" alt="" title="" class="thumb" border="0" />
                </a>
            </div>
        </div>

    </div>

    <div class="right_box">

        <div class="title">
            <span class="title_icon">
                <img src="~/images/bullet5.gif" alt="" title="" />
            </span>Categories
        </div>

        <ul class="list">
            <li><a href="#">accesories</a></li>
            <li><a href="#">flower gifts</a></li>
            <li><a href="#">specials</a></li>
            <li><a href="#">hollidays gifts</a></li>
            <li><a href="#">accesories</a></li>
            <li><a href="#">flower gifts</a></li>
            <li><a href="#">specials</a></li>
            <li><a href="#">hollidays gifts</a></li>
            <li><a href="#">accesories</a></li>
            <li><a href="#">flower gifts</a></li>
            <li><a href="#">specials</a></li>
        </ul>

        <div class="title">
            <span class="title_icon">
                <img src="~/images/bullet6.gif" alt="" title="" />
            </span>
            Partners
        </div>

        <ul class="list">
            <li><a href="#">accesories</a></li>
            <li><a href="#">flower gifts</a></li>
            <li><a href="#">specials</a></li>
            <li><a href="#">hollidays gifts</a></li>
            <li><a href="#">accesories</a></li>
            <li><a href="#">flower gifts</a></li>
            <li><a href="#">specials</a></li>
            <li><a href="#">hollidays gifts</a></li>
            <li><a href="#">accesories</a></li>
        </ul>

    </div>


</div>
</body>